body {
    font-family: 'Poppins', sans-serif;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.animated-section {
    opacity: 0;
    transform: translateY(2.5rem); /* 40px */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.animated-section.is-in-view {
    opacity: 1;
    transform: translateY(0);
}
